absl
absl_py-2.1.0.dist-info
asgiref
asgiref-3.8.1.dist-info
astunparse
astunparse-1.6.3.dist-info
cachetools
cachetools-5.3.3.dist-info
certifi
certifi-2024.2.2.dist-info
charset_normalizer
charset_normalizer-3.3.2.dist-info
clang
colorama
colorama-0.4.6.dist-info
contourpy
contourpy-1.2.1.dist-info
contributed
cv2
cycler
cycler-0.12.1.dist-info
dateutil
django
Django-5.0.4.dist-info
facenet-1.0.5.dist-info
flatbuffers
flatbuffers-24.3.25.dist-info
fontTools
fonttools-4.51.0.dist-info
gast
gast-0.4.0.dist-info
google
google_auth-2.29.0.dist-info
google_auth_oauthlib
google_auth_oauthlib-1.0.0.dist-info
google_pasta-0.2.0.dist-info
grpc
grpcio-1.62.1.dist-info
h5py
h5py-3.11.0.dist-info
idna
idna-3.7.dist-info
jax
jax-0.4.26.dist-info
joblib
joblib-1.4.0.dist-info
keras
keras-2.12.0.dist-info
keras_facenet
keras_facenet-0.3.2.dist-info
kiwisolver
kiwisolver-1.4.5.dist-info
libclang-18.1.1.dist-info
markdown
Markdown-3.6.dist-info
markdown_it
markdown_it_py-3.0.0.dist-info
markupsafe
MarkupSafe-2.1.5.dist-info
matplotlib
matplotlib-3.8.4.dist-info
matplotlib.libs
mdurl
mdurl-0.1.2.dist-info
ml_dtypes
ml_dtypes-0.3.2.dist-info
mpl_toolkits
mtcnn
mtcnn-0.1.1.dist-info
namex
namex-0.0.8.dist-info
numpy
numpy-1.23.5.dist-info
oauthlib
oauthlib-3.2.2.dist-info
opencv_python-4.9.0.80.dist-info
optree
optree-0.11.0.dist-info
opt_einsum
opt_einsum-3.3.0.dist-info
packaging
packaging-24.0.dist-info
pasta
PIL
pillow-10.3.0.dist-info
pip
pip-24.0.dist-info
pkg_resources
protobuf-4.25.3.dist-info
psutil
psutil-5.9.8.dist-info
pyasn1
pyasn1-0.6.0.dist-info
pyasn1_modules
pyasn1_modules-0.4.0.dist-info
pygments
pygments-2.17.2.dist-info
pyparsing
pyparsing-3.1.2.dist-info
python_dateutil-2.9.0.post0.dist-info
requests
requests-2.31.0.dist-info
requests_oauthlib
requests_oauthlib-2.0.0.dist-info
rich
rich-13.7.1.dist-info
rsa
rsa-4.9.dist-info
scikit_learn-1.4.2.dist-info
scipy
scipy-1.13.0.dist-info
scipy.libs
setuptools
setuptools-65.5.0.dist-info
six-1.16.0.dist-info
sklearn
sqlparse
sqlparse-0.4.4.dist-info
tensorboard
tensorboard-2.12.3.dist-info
tensorboard_data_server
tensorboard_data_server-0.7.2.dist-info
tensorflow
tensorflow-2.12.0.dist-info
tensorflow_estimator
tensorflow_estimator-2.12.0.dist-info
tensorflow_intel-2.12.0.dist-info
tensorflow_io_gcs_filesystem
tensorflow_io_gcs_filesystem-0.31.0.dist-info
termcolor
termcolor-2.4.0.dist-info
threadpoolctl-3.4.0.dist-info
tmp
tqdm
tqdm-4.66.4.dist-info
typing_extensions-4.11.0.dist-info
tzdata
tzdata-2024.1.dist-info
urllib3
urllib3-2.2.1.dist-info
werkzeug
werkzeug-3.0.2.dist-info
wheel
wheel-0.43.0.dist-info
wrapt
wrapt-1.14.1.dist-info
_distutils_hack
__pycache__
